schemas/3.1/AdminData.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema targetNamespace="http://ts.fujitsu.com/secdocs/v3_1/adminData"
    elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://ts.fujitsu.com/secdocs/v3_1/adminData" xmlns:sd="http://ts.fujitsu.com/secdocs/v3_1/secdocs">
    <!-- SecDocs 3.1A00 Copyright (c) by Fujitsu Technology Solutions GmbH 2019 
        All Rights Reserved. This work is licensed under a Creative Commons Attribution-NoDerivatives 
        4.0 International License. https://creativecommons.org/licenses/by-nd/4.0/ 
        Any changes done by the end user to this file are not subject of any guarantee 
        or maintenance by Fujitsu. -->

    <xsd:import namespace="http://ts.fujitsu.com/secdocs/v3_1/secdocs"
        schemaLocation="secdocs.xsd" />
    <xsd:include schemaLocation="AdminCommon.xsd"></xsd:include>

    <xsd:complexType name="Vendor">
        <xsd:sequence>
            <xsd:element name="Component">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Name" type="xsd:string" nillable="false"></xsd:element>
                        <xsd:element name="Version" type="xsd:string"></xsd:element>
                        <xsd:element name="Release" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ContactType">
        <xsd:complexContent>
            <xsd:extension base="tns:BaseType">
                <xsd:sequence>
                    <xsd:element name="FirstName" type="xsd:string"
                        minOccurs="0"></xsd:element>
                    <xsd:element name="Surname" type="tns:NonEmptyString"
                        maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="Street" type="xsd:string" maxOccurs="1"
                        minOccurs="0">
                    </xsd:element>
                    <xsd:element name="City" type="xsd:string" maxOccurs="1"
                        minOccurs="0"></xsd:element>
                    <xsd:element name="Zip" type="xsd:string" minOccurs="0"
                        maxOccurs="1"></xsd:element>
                    <xsd:element name="Country" type="xsd:string"
                        maxOccurs="1" minOccurs="0"></xsd:element>
                    <xsd:element name="Tel" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="Email" type="xsd:string" minOccurs="0"></xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="Contact" type="tns:ContactType"></xsd:element>
    <xsd:complexType name="AlgorithmType">
        <xsd:complexContent>
            <xsd:extension base="tns:BaseType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:NCName"></xsd:element>
                    <xsd:element name="Type">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="Hash|Signature" />
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="OID">

                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[0-9](.[0-9]+)*"></xsd:pattern>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="URI" type="xsd:string" minOccurs="0"
                        maxOccurs="1"></xsd:element>

                    <xsd:element name="ExpirationDate" type="xsd:dateTime"
                        minOccurs="0" maxOccurs="1"></xsd:element>

                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="NonEmptyString">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"></xsd:minLength>
            <xsd:whiteSpace value="collapse"></xsd:whiteSpace>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TSPType">
        <xsd:complexContent>
            <xsd:extension base="tns:BaseType">
                <xsd:sequence>
                    <xsd:element name="Name" maxOccurs="1" minOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:NCName">
                                <xsd:maxLength value="50"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ProviderName" type="tns:NonEmptyString"
                        maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="URL" type="tns:NonEmptyString"
                        maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="SigHashAlgorithmName" type="xsd:string"
                        maxOccurs="1" minOccurs="1"></xsd:element>
                    <xsd:element name="HashAlgorithmName" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="SignatureAlgorithmName" type="xsd:string"
                        minOccurs="1" maxOccurs="1">
                    </xsd:element>
                    <xsd:element name="KeyLength" maxOccurs="1" minOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                                <xsd:maxInclusive value="2147483647"></xsd:maxInclusive>
                                <xsd:minInclusive value="1"></xsd:minInclusive>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CertificateName" type="xsd:string"
                        maxOccurs="1" minOccurs="1">
                    </xsd:element>
                    <xsd:element name="SignatureQuality" maxOccurs="1"
                        minOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="ADVANCED"></xsd:enumeration>
                                <xsd:enumeration value="QUALIFIED"></xsd:enumeration>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="isActive" type="xsd:boolean"
                        maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="Policy" maxOccurs="1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:base64Binary">
                                <xsd:minLength value="1"></xsd:minLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <!-- if not present, doEnrich will be set to false   -->
                     <xsd:element name="doEnrich" type="xsd:boolean"
                        maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BaseType">
        <xsd:sequence>
            <xsd:element name="RecordID" type="xsd:unsignedLong"
                minOccurs="0" nillable="true"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MandantType">
        <xsd:complexContent>
            <xsd:extension base="tns:BaseType">
                <xsd:sequence>
                    <xsd:element name="Name">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:NCName">
                                <xsd:pattern value="[0-9,A-Z,a-z_]+"></xsd:pattern>
                                <xsd:minLength value="1"></xsd:minLength>
                                <xsd:maxLength value="20"></xsd:maxLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="DisplayName" type="xsd:string"
                        maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="Contact" type="tns:ContactType"
                        minOccurs="1">
                    </xsd:element>
                    <xsd:element name="Path" minOccurs="1" type="tns:PathType">

                    </xsd:element>
                    <xsd:element name="TreeSize" maxOccurs="1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">
                                <xsd:minInclusive value="1"></xsd:minInclusive>
                                <xsd:maxExclusive value="2147483647"></xsd:maxExclusive>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TreeAge" maxOccurs="1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:integer">

                                <xsd:minInclusive value="1"></xsd:minInclusive>
                                <xsd:maxExclusive value="2147483647"></xsd:maxExclusive>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="TSP" maxOccurs="unbounded"
                        minOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:NCName">
                                <xsd:minLength value="1"></xsd:minLength>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="State" maxOccurs="1" minOccurs="0">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="test"></xsd:enumeration>
                                <xsd:enumeration value="productive"></xsd:enumeration>
                                <xsd:enumeration value="convertingToProductive">
                                </xsd:enumeration>
                                <xsd:enumeration value="clearing"></xsd:enumeration>
                                <xsd:enumeration value="deleting"></xsd:enumeration>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="Properties" type="tns:PropertyListType"
                        maxOccurs="1" minOccurs="0">
                    </xsd:element>
                    <xsd:element name="Type" type="tns:SimpleMandantType"
                        maxOccurs="1" minOccurs="0">
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="GetHashAlgorithmsResponseType">
        <xsd:sequence>
            <xsd:element name="Algorithm" type="tns:AlgorithmType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetMandantsResponseType">
        <xsd:sequence>
            <xsd:element name="Mandant" type="tns:MandantType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetSignatureAlgorithmsResponseType">
        <xsd:sequence>
            <xsd:element name="Algorithm" type="tns:AlgorithmType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Mandant" type="tns:MandantType"></xsd:element>
    <xsd:element name="Algorithm" type="tns:AlgorithmType"></xsd:element>
    <xsd:element name="GetHashAlgorithms" type="tns:GetHashAlgorithmsResponseType"></xsd:element>
    <xsd:element name="GetSignatureAlgorithms" type="tns:GetSignatureAlgorithmsResponseType"></xsd:element>
    <xsd:element name="GetMandants" type="tns:GetMandantsResponseType"></xsd:element>
    <xsd:element name="result" type="xsd:string"></xsd:element>
    <xsd:complexType name="SDOType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:NCName" maxOccurs="1"
                minOccurs="1">
            </xsd:element>
            <xsd:element name="isActive" type="xsd:boolean"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="Schema" maxOccurs="1" minOccurs="1"
                type="tns:SchemaSimpleType">
            </xsd:element>
            <xsd:element name="Filter" maxOccurs="1" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Policy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TimestampPolicy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="DependentSchema" type="tns:DependentSchemaType"
                maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="isReplaceable" type="xsd:boolean"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="ModifySDOType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:NCName" maxOccurs="1"
                minOccurs="1">
            </xsd:element>

            <xsd:element name="Schema" maxOccurs="1" minOccurs="0"
                type="tns:SchemaSimpleType">
            </xsd:element>
            <xsd:element name="Filter" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="Policy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TimestampPolicy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="DependentSchema" type="tns:DependentSchemaType"
                maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ModifyXAIP" type="tns:ModifyXAIPType"></xsd:element>
    <xsd:complexType name="ModifyXAIPType">
        <xsd:sequence>
            <xsd:element name="DependentSchema" type="tns:DependentSchemaType"
                maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="Policy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TimestampPolicy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="TSP" type="tns:TSPType"></xsd:element>
    <xsd:element name="SDOType" type="tns:SDOType"></xsd:element>
    <xsd:complexType name="PrivilegeType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:NCName" maxOccurs="1"
                minOccurs="0"></xsd:element>
            <xsd:element name="Operation" type="tns:NonEmptyString"
                maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RoleType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:NCName" maxOccurs="1"
                minOccurs="1">
            </xsd:element>
            <xsd:element name="Scope" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:minLength value="1"></xsd:minLength>
                        <xsd:whiteSpace value="collapse"></xsd:whiteSpace>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="Privilege" type="tns:PrivilegeType"
                    maxOccurs="1" minOccurs="1">
                </xsd:element>
                <xsd:element name="PrivilegeName" type="xsd:NCName"
                    maxOccurs="1" minOccurs="1"></xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OrganisationType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:NCName"></xsd:element>
            <xsd:element name="Path" type="tns:PathType"></xsd:element>
            <xsd:element name="SDOType" type="tns:NonEmptyString"
                maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="Contact" type="tns:ContactType"></xsd:element>

            <xsd:element name="DisplayName" type="xsd:string"
                maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Organisation" type="tns:OrganisationType"></xsd:element>

    <xsd:complexType name="CredentialType">
        <xsd:sequence>
            <xsd:element name="Type">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="Password"></xsd:enumeration>
                        <xsd:enumeration value="Certificate"></xsd:enumeration>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="Credits">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:base64Binary">
                            <xsd:minLength value="8"></xsd:minLength>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="Password" type="tns:PasswordSimpleType"></xsd:element>
            </xsd:choice>
            <xsd:element name="Role" type="xsd:string" maxOccurs="1"
                minOccurs="0">
            </xsd:element>
            <xsd:element name="Mandant" type="xsd:string" minOccurs="0">
            </xsd:element>
            <xsd:element name="OrgID" type="xsd:string" maxOccurs="1"
                minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Credentials" type="tns:CredentialType"></xsd:element>
    <xsd:complexType name="CreateMandantType">
        <xsd:sequence>
            <xsd:element name="Mandant" type="tns:MandantType"
                maxOccurs="1" minOccurs="1">
            </xsd:element>
            <xsd:element name="Credentials" type="tns:CredentialType"
                maxOccurs="2" minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateMandant" type="tns:CreateMandantType"></xsd:element>

    <xsd:complexType name="CreateMandantXAIPType">
        <xsd:sequence>
            <xsd:element name="Mandant" type="tns:MandantType"
                maxOccurs="1" minOccurs="1">
            </xsd:element>
            <xsd:element name="Credentials" type="tns:CredentialType"
                maxOccurs="1" minOccurs="1">
            </xsd:element>

            <xsd:element name="XAIPSubmission" type="tns:XAIPSubmissionType"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="Policy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
             <xsd:element name="TimestampPolicy" maxOccurs="1" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="1"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="CreateMandantXAIP" type="tns:CreateMandantXAIPType"></xsd:element>



    <xsd:complexType name="GetTSPsResponseType">
        <xsd:sequence>
            <xsd:element name="TSP" type="tns:TSPType" maxOccurs="unbounded"
                minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetTSPs" type="tns:GetTSPsResponseType"></xsd:element>

    <xsd:element name="GetSDOTypes" type="tns:GetSDOTypesResponseType"></xsd:element>

    <xsd:complexType name="GetSDOTypesResponseType">
        <xsd:sequence>
            <xsd:element name="SDOType" type="tns:SDOType" maxOccurs="unbounded"
                minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetOrganisationsResponseType">
        <xsd:sequence>
            <xsd:element name="Organisation" type="tns:OrganisationType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetOrganisations" type="tns:GetOrganisationsResponseType">
    </xsd:element>

    <xsd:complexType name="GetMandantNamesResponseType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string" maxOccurs="unbounded"
                minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="GetRequest" type="xsd:string" nillable="true"></xsd:element>


    <xsd:simpleType name="NameType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z][a-zA-Z0-9_-]*"></xsd:pattern>
            <xsd:minLength value="1"></xsd:minLength>
            <xsd:maxLength value="512"></xsd:maxLength>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PathType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[^_].*"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="VersionType">
        <xsd:sequence>

            <xsd:element name="Component" type="tns:ComponentType"
                maxOccurs="unbounded" minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ComponentType">
        <xsd:sequence>
            <xsd:element name="VersionString" type="xsd:string"></xsd:element>
            <xsd:element name="Name" type="xsd:string"></xsd:element>
            <xsd:element name="Major" type="xsd:integer"></xsd:element>
            <xsd:element name="Minor" type="xsd:integer"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetVersion" type="tns:VersionType"></xsd:element>

    <xsd:complexType name="RenewTSPType">
        <xsd:sequence>
            <xsd:element name="OldTSPName" type="xsd:NCName"></xsd:element>
            <xsd:element name="NewTSPName" type="xsd:NCName"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="RenewHashAlgorithm" type="tns:RenewTSPType"></xsd:element>
    <xsd:element name="RenewTSPSignature" type="tns:RenewTSPType"></xsd:element>

    <xsd:complexType name="GetByNameType">
        <xsd:sequence>
            <xsd:element name="Name" type="tns:NonEmptyString"
                maxOccurs="unbounded" minOccurs="1">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreateRole" type="tns:CreateRoleType"></xsd:element>

    <xsd:complexType name="CreateRoleType">
        <xsd:sequence>
            <xsd:element name="Role" type="tns:RoleType"></xsd:element>
            <xsd:element name="Credentials" type="tns:CredentialType"
                minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Role" type="tns:RoleType"></xsd:element>

    <xsd:element name="DeleteRole" type="tns:DeleteRoleType"></xsd:element>
    <xsd:complexType name="GetRolesResponseType">
        <xsd:sequence>
            <xsd:element name="Role" type="tns:RoleType" minOccurs="0"
                maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetRolesResponse" type="tns:GetRolesResponseType"></xsd:element>

    <xsd:complexType name="DeleteRoleType">
        <xsd:sequence>
            <xsd:element name="Role" type="tns:RoleType" maxOccurs="unbounded"
                minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="SelectByName" type="tns:GetByNameType"></xsd:element>

    <xsd:complexType name="DependentSchemaType">
        <xsd:sequence>
            <xsd:element name="Namespace" type="xsd:anyURI"
                maxOccurs="1" minOccurs="0">
            </xsd:element>
            <xsd:element name="SchemaLocation" type="xsd:anyURI"
                maxOccurs="1" minOccurs="1">
            </xsd:element>
            <xsd:choice>
                <xsd:element name="Schema" type="tns:SchemaSimpleType"
                    maxOccurs="1" minOccurs="0">
                </xsd:element>

            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="SchemaSimpleType">
        <xsd:restriction base="xsd:base64Binary">
            <xsd:minLength value="1"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:element name="GetAuditDataRequest" type="tns:GetAuditDataRequestType">
    </xsd:element>

    <xsd:complexType name="GetAuditDataRequestType">
        <xsd:sequence>
            <xsd:element name="organisation" type="xsd:NCName"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetRolesRequest" type="tns:GetRoleRequestType"></xsd:element>

    <xsd:complexType name="GetRoleRequestType">
        <xsd:sequence>
            <xsd:element name="organisation" type="xsd:string"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="CreatePrivilege" type="tns:PrivilegeType"></xsd:element>

    <xsd:element name="Privilege" type="tns:PrivilegeType"></xsd:element>

    <xsd:complexType name="GetPrivilegeResponseType">
        <xsd:sequence>
            <xsd:element name="Privilege" type="tns:PrivilegeType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetPrivileges" type="tns:GetPrivilegeResponseType">
    </xsd:element>


    <xsd:complexType name="GetAccountingDataArchivAdmRequestType">
        <xsd:sequence>
            <xsd:element name="MandantName" type="xsd:NCName"
                minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="TSPName" type="xsd:NCName" minOccurs="0"
                maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAccountingDataArchivAdmRequest"
        type="tns:GetAccountingDataArchivAdmRequestType"></xsd:element>

    <xsd:complexType name="GetAccountingDataArchivAdmResponseType">
        <xsd:sequence>
            <xsd:element name="NumberOfSealedDocuments" type="xsd:long"></xsd:element>
            <xsd:element name="NumberOfSealingActions" type="xsd:long"></xsd:element>
            <xsd:element name="NumberOfUsedTimeStamps" type="xsd:long"
                minOccurs="0" maxOccurs="1"></xsd:element>
            <xsd:element name="NumberOfSealingActionsDuringTestPhase"
                type="xsd:long"></xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAccountingDataArchivAdmResponse"
        type="tns:GetAccountingDataArchivAdmResponseType"></xsd:element>

    <xsd:complexType name="GetAccountingDataMandantAdmRequestType">
        <xsd:sequence>
            <xsd:element name="OrganisationName" type="xsd:NCName"
                minOccurs="0" maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getAccountingDataMandantAdmRequest"
        type="tns:GetAccountingDataMandantAdmRequestType"></xsd:element>

    <xsd:element name="getAccountingDataMandantAdmResponse"
        type="sd:TGetAccountingDataResponseType"></xsd:element>

    <xsd:element name="Password" type="tns:PasswordSimpleType"></xsd:element>
    <xsd:simpleType name="PasswordSimpleType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="8"></xsd:minLength>
        </xsd:restriction>
    </xsd:simpleType>



    <xsd:complexType name="ArchiveInfoType">
        <xsd:sequence>
            <xsd:element name="MandantName" type="xsd:NCName"></xsd:element>

            <xsd:element name="Mandant" type="tns:MandantType" />
            <xsd:element name="TimeStampingInterval" type="xsd:string"></xsd:element>
            <xsd:element name="AOIDCleanupInterval" type="xsd:string"></xsd:element>
            <xsd:element name="AOIDInfo" type="tns:AOIDInfoType"></xsd:element>
            <xsd:element name="Timer" type="tns:TimerType" maxOccurs="unbounded"
                minOccurs="1"></xsd:element>
            <xsd:element name="SDOCountingInfo" type="tns:SDOCounterType">
            </xsd:element>
            <xsd:element name="RunningJob" type="tns:RunningJobType"
                maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
            <xsd:element name="ScheduledJob" type="tns:ScheduledJobType"
                maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AOIDInfoType">
        <xsd:sequence>
            <xsd:element name="Reserved" type="xsd:integer"></xsd:element>
            <xsd:element name="Cleanup" type="xsd:integer"></xsd:element>
            <xsd:element name="WaitingForTimestamp" type="xsd:integer">
            </xsd:element>
            <xsd:element name="WaitingForDocRehash" type="xsd:integer">
            </xsd:element>
            <xsd:element name="WaitingForTSPSig" type="xsd:integer"></xsd:element>
            <xsd:element name="Stored" type="xsd:integer"></xsd:element>
            <xsd:element name="Sealed" type="xsd:integer"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TimerType">
        <xsd:sequence>
            <xsd:element name="Type" type="xsd:string"></xsd:element>
            <xsd:element name="State" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetArchiveInfoResponseType">
        <xsd:sequence>
            <xsd:element name="Info" type="tns:ArchiveInfoType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="GetArchiveInfo" type="tns:GetArchiveInfoResponseType">
    </xsd:element>


    <xsd:complexType name="GetArchiveInfoRequestType"></xsd:complexType>

    <xsd:complexType name="SDOCounterType">
        <xsd:sequence>
            <xsd:element name="TreeSize" type="xsd:integer"></xsd:element>
            <xsd:element name="SDOsCounted" type="xsd:integer"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="RunningJobType">
        <xsd:sequence>
            <xsd:element name="Description" type="xsd:string"></xsd:element>
            <xsd:element name="Initiated" type="xsd:string"></xsd:element>
            <xsd:element name="State" type="xsd:string"></xsd:element>
            <xsd:element name="Type" type="xsd:string"></xsd:element>
            <xsd:element name="Work" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>



    <xsd:element name="ClearAOIDs" type="tns:ClearAoidsType"></xsd:element>

    <xsd:complexType name="SelectByMandantNameType">
        <xsd:sequence>
            <xsd:element name="MandantName" type="xsd:NCName"
                maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="PerformAction" type="tns:PerformActionType"></xsd:element>

    <xsd:element name="ConvertTestMandant" type="tns:ConvertTestmandantType">
    </xsd:element>


    <xsd:element name="DeleteTestMandant" type="tns:DeleteTestmandantType">
    </xsd:element>

    <xsd:complexType name="DeleteTestmandantType">
        <xsd:sequence>
            <xsd:element name="MandantName" type="xsd:NCName"
                maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ScheduledJobType">
        <xsd:sequence>
            <xsd:element name="Description" type="xsd:string"></xsd:element>
            <xsd:element name="Interval" type="xsd:string"></xsd:element>
            <xsd:element name="NextExecutionTime" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="ClearAoidsType"></xsd:complexType>

    <xsd:complexType name="PerformActionType">
        <xsd:sequence>
            <xsd:element name="Action" type="tns:ActionSimpleType"></xsd:element>
            <xsd:choice maxOccurs="1" minOccurs="0">
                <xsd:element name="MonitorType" type="tns:MonitorTypeSimpleType"
                    maxOccurs="1" minOccurs="1">
                </xsd:element>
            </xsd:choice>
            <xsd:element name="MandantName" type="xsd:NCName"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ActionSimpleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="sealDocuments"></xsd:enumeration>
            <xsd:enumeration value="stopSealing"></xsd:enumeration>
            <xsd:enumeration value="stopTimestamping"></xsd:enumeration>
            <xsd:enumeration value="stopRenew"></xsd:enumeration>
            <xsd:enumeration value="aoidCleanup"></xsd:enumeration>
            <xsd:enumeration value="startMonitor"></xsd:enumeration>
            <xsd:enumeration value="stopMonitor"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="MonitorTypeSimpleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="TSPTimer"></xsd:enumeration>
            <xsd:enumeration value="AOIDCleanup"></xsd:enumeration>
            <xsd:enumeration value="AOIDWithRefCleanup"></xsd:enumeration>
            <xsd:enumeration value="ExternalFileCleanup"></xsd:enumeration>
            <xsd:enumeration value="SDOCounting"></xsd:enumeration>
            <xsd:enumeration value="ALL"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ConvertTestmandantType"></xsd:complexType>

    <xsd:complexType name="GetOperationsType">
        <xsd:sequence>
            <xsd:element name="Operation" type="xsd:string"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetOperationsResponse" type="tns:GetOperationsType">
    </xsd:element>

    <xsd:complexType name="GetAuditLogFileNamesResponseType">
        <xsd:sequence>
            <xsd:element name="AuditLogFileName" type="xsd:string"
                minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetAuditLogFileNamesResponse" type="tns:GetAuditLogFileNamesResponseType"></xsd:element>

    <xsd:complexType name="GetAuditLogFileRequestType">
        <xsd:sequence>
            <xsd:element name="AuditLogFileName" type="xsd:string"
                minOccurs="1" maxOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="AuditLogERType">
        <xsd:sequence>
            <xsd:element name="TSPName" type="xsd:NCName" minOccurs="1"
                maxOccurs="1">
            </xsd:element>
            <xsd:element name="AuditLogERContent" minOccurs="1"
                maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="0"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetAuditLogFileRequest" type="tns:GetAuditLogFileRequestType"></xsd:element>

    <xsd:complexType name="GetAuditLogFileResponseType">
        <xsd:sequence>
            <xsd:element name="AuditLogFileContent" minOccurs="1"
                maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:base64Binary">
                        <xsd:minLength value="0"></xsd:minLength>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="AuditLogER" type="tns:AuditLogERType"
                minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="GetAuditLogFileResponse" type="tns:GetAuditLogFileResponseType"></xsd:element>


    <xsd:complexType name="GetStatisticalDataRequestType">
        <xsd:sequence>
            <xsd:element name="resetData" type="xsd:boolean" default="false"
                minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getStatisticalDataRequest" type="tns:GetStatisticalDataRequestType"></xsd:element>

    <xsd:complexType name="GetStatisticalDataResponseType">
        <xsd:sequence>
            <xsd:element name="archiveData" type="tns:ArchiveDataType"
                maxOccurs="1" minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getStatisticalDataResponse" type="tns:GetStatisticalDataResponseType"></xsd:element>

    <xsd:complexType name="ArchiveDataType">
        <xsd:sequence>
            <xsd:element name="lastFlushTime" type="xsd:long"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="currentFlushTime" type="xsd:long"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="mandantData" type="tns:MandantDataType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MandantDataType">
        <xsd:sequence>
            <xsd:element name="mandantName" type="xsd:NCName"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="unknownOpCount" type="xsd:long"
                maxOccurs="1" minOccurs="0"></xsd:element>
            <xsd:element name="operationData" type="tns:OperationDataType"
                maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="OperationDataType">
        <xsd:sequence>
            <xsd:element name="operationName" type="tns:NonEmptyString"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="countData" type="tns:CountDataType"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="timeData" type="tns:TimeDataType"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="sdoSizeData" type="tns:SdoSizeDataType"
                maxOccurs="1" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CountDataType">
        <xsd:sequence>
            <xsd:element name="totCount" type="xsd:long" maxOccurs="1"
                minOccurs="1"></xsd:element>
            <xsd:element name="succCount" type="xsd:long" maxOccurs="1"
                minOccurs="1"></xsd:element>
            <xsd:element name="failCount" type="xsd:long" maxOccurs="1"
                minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="TimeDataType">
        <xsd:sequence>
            <xsd:element name="minDuration" type="xsd:double"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="maxDuration" type="xsd:double"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="avgDuration" type="xsd:double"
                maxOccurs="1" minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SdoSizeDataType">
        <xsd:sequence>
            <xsd:element name="minSdoSize" type="xsd:double"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="maxSdoSize" type="xsd:double"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="avgSdoSize" type="xsd:double"
                maxOccurs="1" minOccurs="1"></xsd:element>
            <xsd:element name="totSdoSize" type="xsd:double"
                maxOccurs="1" minOccurs="1"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>


    <xsd:element name="ModifySDOType" type="tns:ModifySDOType"></xsd:element>

    <xsd:complexType name="XAIPSubmissionType">
        <xsd:sequence>
            <xsd:element name="SDOPath" default="*$Year*/*$Month*/*$Day*"
                maxOccurs="1" minOccurs="0" type="tns:NonEmptyString">
            </xsd:element>
             <xsd:element name="SignatureVerification" type="tns:SignatureVerificationType"
                maxOccurs="1" minOccurs="0" default="INFORMATION">
            </xsd:element>
            <xsd:element name="SignatureQualityLevel" type="tns:SignatureQualityLevelType"
                maxOccurs="1" minOccurs="0" default="ADVANCED">
            </xsd:element>
            <xsd:element name="SignatureEmbedded" default="AUTO"
                type="tns:YesNoAutoType" maxOccurs="1" minOccurs="0">

            </xsd:element>
            <xsd:element name="SignatureDetached" type="tns:YesNoAutoType"
                default="YES" maxOccurs="1" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="SignatureVerificationType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS"></xsd:enumeration>
            <xsd:enumeration value="INFORMATION"></xsd:enumeration>
            <xsd:enumeration value="CERTIFICATE"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="SignatureQualityLevelType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ADVANCED"></xsd:enumeration>
            <xsd:enumeration value="QUALIFIED"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

  
    <xsd:simpleType name="YesNoAutoType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="YES"></xsd:enumeration>
            <xsd:enumeration value="NO"></xsd:enumeration>
            <xsd:enumeration value="AUTO"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>


    <xsd:simpleType name="SimpleMandantType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="XAIP"></xsd:enumeration>
            <xsd:enumeration value="SDO"></xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>

    
        

